@import "partials/branding";
@import "partials/footer";
@import "partials/preview";
@import "partials/cropper";
@import "partials/options";
@import "partials/modals";

.navbar {
    background: #fff;
}

.lead {
    font-weight: 400;
}

/* Basic */

body {
    margin: 0;
    overflow-x: hidden;
}


/* Header */

.docs-header {
    margin-bottom: 0;
}

.navbar-toggle:hover,
.navbar-toggle:focus {
    border-color: #0074d9;
}

.navbar-toggle .icon-bar {
    background-color: #0074d9;
}


/* Jumbotron */

.docs-jumbotron {
    background-color: #0074d9;
    color: #fff;
}

.logo {
    width:300px;
    height:127px;
}
